<!DOCTYPE html>

<html>
    <head>
      <!-- {% block title %}{% endblock %} -->
      <title>Home</title>
      <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css_files/home.css')}}">
      <link type="text/css" rel"stylesheet" href="{{url_for('static', filename='css_files/image-picker.css')}}">
      <script type="text/javascript" src="{{url_for('static', filename='js_files/jquery-3.2.1.min.js')}}"></script>
      <!-- <script type="text/javascript" src="{{url_for('static', filename='js_files/image-picker.js')}}"></script> -->
      <script type="text/javascript" src="{{url_for('static', filename='js_files/image-picker.min.js')}}"></script>
      <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
      <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
      <script type="text/javascript" src="{{url_for('static', filename='js_files/img_functions.js')}}"></script>
      <script>
      onClick(feature_lst, min);
      </script>
    </head>


<!-- Creates Home Page w/ Submit, Agreement, & Attribute Selection -->
  {% extends "base.html" %}
  {% block content %}
  <div class='homePageText'>
    <p class='cool_site'> We recommend you look at the about page before using our cool site.</p>
    <p class="warning">
      This website has been designed to help the user determine if a wild mushroom might be edible. While we strongly recommend not to eat wild mushrooms unless consulting a professioal mycologist.
    </p>
  </div>

  <form action="{{url_for('submission')}}" method="POST" class="features">
    <div class="mush-attr">

      <select class="picker">
        <option class="image" data-img-src="../static/feature_imgs/enlarging_stalk.jpeg" value="e">Enlarging Stalk</option>
        <option  class="image" data-img-src='../static/feature_imgs/tapering_stalk.jpg' value="t">Tapering Stalk</option>
      </select>

    </div>
  <!--Submit & Agreement-->
  <!--<p>Feature String<br>-->
    <div class="Submit and Agreement">
      <br>
      <input name="input_attr" type="hidden" id=attr>
      <input name="input_attr" type="submit"/>
      <br>
      <p>I agree that I will not eat any mushrooms based on the results presented by this site classifier.<br>
    {{form.agreement()}}<br>
      </p>
    </div>
  </form>
  {% endblock %}
</html>
