<!DOCTYPE html>

<html>
    <head>
      <!-- {% block title %}{% endblock %} -->
      <title>Home</title>
      <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css_files/home.css')}}">
      <link type="text/css" rel"stylesheet" href="{{url_for('static', filename='css_files/image-picker.css')}}">
      <script type="text/javascript" src="{{url_for('static', filename='js_files/jquery-3.2.1.min.js')}}"></script>
      <!-- <script type="text/javascript" src="{{url_for('static', filename='js_files/image-picker.js')}}"></script> -->
      <script type="text/javascript" src="{{url_for('static', filename='js_files/image-picker.min.js')}}"></script>
      <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
      <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
      <script type="text/javascript" src="{{url_for('static', filename='js_files/img_functions.js')}}"></script>
      <script>
      getValue();
  //     $(document).ready(function(){
  //         var container = []
  //         $('select').imagepicker({
  //             selected: function(option){
  //             var value = this.val();
  //             container.push(value);
  //             alert(container);
  //         }
  //     });
  // });
      </script>
    </head>


<!-- Creates Home Page w/ Submit, Agreement, & Attribute Selection -->
  {% extends "base.html" %}
  {% block home %}Yummy Mushrooms{% endblock %}
  {% block content %}
    <p> We recommend you look at the about page before using out cool site.</p>
    <p>
      This website has been designed to help the user determine if a wild mushroom might be edible. While we strongly recommend not to eat wild mushrooms unless consulting a professioal mycologist.
    </p>
      <form action="/home_post" mehtod="post" class="features">
        <div class="mush-attr">

          <select class="picker">
            <option class="image" data-img-src="../static/feature_imgs/enlarging_stalk.jpeg" value="e">Enlarging Stalk</option>
            <option  class="image" data-img-src='../static/feature_imgs/tapering_stalk.jpg' value="t">Tapering Stalk</option>
          </select>

        </div>
      <!--Submit & Agreement-->
      <!--figure out this action parameter-->
      <!--<p>Feature String<br>-->
        <div class="Submit and Agreement">
          <br>
          <button id='submit-btn' type='submit'>Submit</button>
          <br>
          <p>I agree that I will not eat any mushrooms based on the results presented by this site classifier.<br>
        {{form.agreement()}}<br>
          </p>
        </div>
    </form>
  {% endblock %}
</html>
