<!DOCTYPE html>

<html>
<!-- Creates Home Page w/ Submit, Agreement, & Attribute Selection -->
  {% extends "base.html" %}
  {% block title %}Home{% endblock %}
  {% block home %}Yummy Mushrooms{% endblock %}
  {% block content %}
    <p> We recommend you look at the about page before using out cool site.</p>
    <p>
      This website has been designed to help the user determine if a wild mushroom might be edible. While we strongly recommend not to eat wild mushrooms unless consulting a professioal mycologist.
    </p>
    <!--Cap Shape image buttons, maybe remove list-->
    <nav id="cap_shape" class="shroom_attributes">
    	  <!--<a href="#">Cap Shape</a>-->
      <div class="shroom_attributes">
        <form action="/home_post" mehtod="post" name="Mushroom Features">

          <select class="cap-picker">
            <option class="image" data-img-src="../static/cap_shape/bell_shaped_cap.jpeg" value="b">Bell Shape</option>
            <option class="image" data-img-src='../static/cap_shape/conical_cap.jpeg' value="c">Conical Shape</option>
            <option class="image" data-img-src="../static/cap_shape/convex_cap.jpeg" value='x'>Convex Shape</option>
            <option class="image" data-img-src="../static/cap_shape/flat_cap.jpeg" value="f">Bell Shape</option>
            <option class="image" data-img-src='../static/cap_shape/knobbed_cap.jpeg' value="k">Conical Shape</option>
            <option class="image" data-img-src="../static/cap_shape/sunken_cap.jpeg" value='s'>Convex Shape</option>
          </select>

      </div>
                <!--Submit & Agreement-->
                <!--figure out this action parameter-->
                <!--<p>Feature String<br>-->
      <div class="Submit and Agreement">
        <br><button type='submit' name='Mushroom Features' value='submit'>Submit</button><br>
        <p>I agree that I will not eat any mushrooms based on the results presented by this site classifier.<br>
        {{form.agreement()}}<br>
        </p>
      </div>
    </form>
    </nav>
    {% endblock %}
</html>
